Package: com.cody.insta
Name: Insta47
Version: 1.2
Architecture: iphoneos-arm
Description: A feature-rich tweak for Instagram on iOS!
Developer: Cody47
Author: Meta
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
